.mainSection {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
}
.chatSection {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  transition: all 0.3s ease;
  background-color: #212121;
  z-index: 111;
}
